
A01/job_selection
A01/rng.c
.vscode
Backup
experiments
P02
p3
P03
magicC.sh
Random Tralha que provavelmente e para apagar
.gitignore
A01/python_solution/tasks
t002020
A01/histograma/histograma.c
A01/histograma/002020.zip
export
A01/histograma/002020
0512
0513
t
A03/A03
A03/results